{% extends 'base.html' %}

{% block content %}
<h4>Incoming Materials
  <a href="{% url 'im_add' %}" class="btn btn-sm btn-primary float-end">Add Report</a>
</h4>

<table class="table">
  <thead>
    <tr>
      <th>Ref</th>
      <th>Date</th>
      <th>PO</th>
      <th>Status</th>
      <th>Approved By</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for r in reports %}
    <tr>
      <td>{{ r.ref_no }}</td>
      <td>{{ r.date }}</td>
      <td>{{ r.purchase_order }}</td>
      <td>{{ r.get_status_display }}</td>
        <td>
          {% if r.approved_by %}
            {{ r.approved_by.username }}
            {% if r.approved_role %}
              ({{ r.approved_role }})
            {% endif %}
          {% else %}
            Not approved
          {% endif %}
        </td>
      <td>
        <a href="{% url 'im_detail' r.id %}" class="btn btn-sm btn-info">View</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No incoming material reports.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
